body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #ff0000;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 20px;
}

.navbar-search input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #666;
}

.navbar-search button {
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
}

.navbar-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    border-radius:;
}

.navbar-icons li {
    margin: 0 10px;
}

.navbar-icons li a {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
}

.navbar-icons li a i {
    font-size: 20px;
    margin-right: 5px;
}

.button-ingresar {
    background-color: #000000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.button-ingresar:hover {
    background-color: #ff0000;
}

.navbar-icons li:first-child {
    margin-right: 15px;
}

.navbar-icons li:last-child {
    margin-left: 15px;
}
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f1010;
    color: white;
    text-align: center;
} 
.location-bar {
    background-color: #1c1b22; /* Color de fondo negro */
    color: #ffffff; /* Color del texto blanco */
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.location-bar span {
    margin-right: 10px;
    font-size: x-small;
}

.location-bar select {
    background: transparent;
    color: #ffffff;
    border: none;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    appearance: none;
}
