body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.nav {
    justify-content: space-between;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #333;
}


.nav-title {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
    align-items: center;
}


.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    color: white;
}


.nav-links li a.active {
    border-bottom: 2px solid white;
    font-weight: bold;

}

.nav-links li a:hover {
    color:  #17a2b8; 
}

.btn {
    background-color: #17a2b8;
    font-size: 16px; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    align-items: center;

}
.btn:hover {
    background-color: #2ab4eb; 
}

a{
    
    text-align: center;
}
git config --global user.email "mariasandoval@liceovvh.cl"
git config --global user.name "marials2008"